<%- include('partials/header') %>

<%- include('layout') %>

<h1>Sectors Served by Communication_LTD</h1>

<table>
    <thead>
        <tr>
            <th>Sector ID</th>
            <th>Sector Name</th>
            <th>Region</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <% sectors.forEach(function(sector) { %>
            <tr>
                <td><%= sector.id %></td>
                <td><%= sector.name %></td>
                <td><%= sector.region %></td>
                <td><%= sector.description %></td>
            </tr>
        <% }) %>
    </tbody>
</table>







<%- include('partials/footer') %>